body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.projetosGitHub{
    padding: 0 20px;
}
.projetosGitHub h2{
    margin-bottom: 5px;
}
.projetosGitHub h1{
    font-size: 22px;
    margin-left: -20px;
}
.projetosGitHub ul li{
    display: block;
}
.projetosGitHub a{
    color: #0d6ba6;
    font-size: 24px;
}
.projetosGitHub p{
    font-size: 18px;
    color: #cccccc;
}